In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
df.head(15)

In [ ]:
df.tail(15)

In [ ]:
df=pd.read_csv("Salaries.csv")

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
df.tail(10)

         rank discipline  phd  service     sex  salary
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        78 non-null     object
 1   discipline  78 non-null     object
 2   phd         78 non-null     int64
 3   service     78 non-null     int64
 4   sex         78 non-null     object
 5   salary      78 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.8+ KB

In [ ]:
df["rank"]

0          Prof
1          Prof
2          Prof
3          Prof
4          Prof
        ...
73         Prof
74    AssocProf
75         Prof
76         Prof
77         Prof
Name: rank, Length: 78, dtype: object

In [ ]:
df.phd.describe

<bound method NDFrame.describe of 0     56
1     12
2     23
3     40
4     20
      ..
73    18
74    19
75    17
76    28
77    23
Name: phd, Length: 78, dtype: int64>

In [ ]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
df.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [ ]:
df.mean()

<ipython-input-17-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [ ]:
df.phd.describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [ ]:
df.phd.quantile(0.25)

10.25

In [ ]:
df.phd.quantile(.50)

18.5

In [ ]:
df.std()

<ipython-input-24-ce97bb7eaef8>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [ ]:
df.phd.std()

12.498424809175864

In [ ]:
df_50=df.head(50)

In [ ]:
df_50.mean()

<ipython-input-28-abcf5df04292>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_50.mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [ ]:
df.head(50).mean()

<ipython-input-29-56442511a41d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.head(50).mean()

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [ ]:
df.salary

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
df["salary"] # If the column name has blank space or dot.

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
result1=df.salary
result1

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
# DATA STRUCTURES IN PANDAS:
# 1: Series
# 2: DataFrame

In [ ]:
type(result1)

pandas.core.series.Series

In [ ]:
result2=df[["salary","phd"]]
result2

    salary  phd
0   186960   56
1    93000   12
2   110515   23
3   131205   40
4   104800   20
..     ...  ...
73  105450   18
74  104542   19
75  124312   17
76  109954   28
77  109646   23

[78 rows x 2 columns]

In [ ]:
type(result2)

pandas.core.frame.DataFrame

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("Salaries.csv")

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
newdf=df[["salary","service","phd"]]
newdf

    salary  service  phd
0   186960       49   56
1    93000        6   12
2   110515       20   23
3   131205       31   40
4   104800       18   20
..     ...      ...  ...
73  105450       10   18
74  104542        6   19
75  124312       17   17
76  109954       14   28
77  109646       15   23

[78 rows x 3 columns]

In [ ]:
df["discipline"].value_counts()

B    42
A    36
Name: discipline, dtype: int64

In [ ]:
df["rank"].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [ ]:
df.phd.describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [ ]:
df["phd"].value_counts()

4     6
17    5
20    5
12    5
23    4
18    4
29    3
25    3
28    3
3     2
5     2
11    2
7     2
45    2
10    2
2     2
13    2
19    2
8     2
35    2
36    2
39    2
14    1
26    1
56    1
30    1
27    1
22    1
9     1
21    1
38    1
33    1
1     1
51    1
40    1
24    1
Name: phd, dtype: int64

In [ ]:
df.phd.mean()

19.705128205128204

In [ ]:
df.phd.count()

78

In [ ]:
df.groupby(["rank"]).mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [ ]:
df.groupby(["discipline"]).count()

            rank  phd  service  sex  salary
discipline
A             36   36       36   36      36
B             42   42       42   42      42

In [ ]:
df.groupby(["discipline","rank"]).count()

                      phd  service  sex  salary
discipline rank
A          AssocProf    5        5    5       5
           AsstProf     8        8    8       8
           Prof        23       23   23      23
B          AssocProf    8        8    8       8
           AsstProf    11       11   11      11
           Prof        23       23   23      23

In [ ]:
df.groupby(["discipline","rank","sex"]).count()

                             phd  service  salary
discipline rank      sex
A          AssocProf Female    4        4       4
                     Male      1        1       1
           AsstProf  Female    6        6       6
                     Male      2        2       2
           Prof      Female    8        8       8
                     Male     15       15      15
B          AssocProf Female    6        6       6
                     Male      2        2       2
           AsstProf  Female    5        5       5
                     Male      6        6       6
           Prof      Female   10       10      10
                     Male     13       13      13

In [ ]:
df.groupby(["discipline","rank","sex"]).mean()

                                   phd    service         salary
discipline rank      sex
A          AssocProf Female  18.500000  15.500000   72128.500000
                     Male    20.000000  17.000000   81285.000000
           AsstProf  Female   4.833333   2.500000   72933.333333
                     Male     3.000000   1.000000   79000.000000
           Prof      Female  26.500000  16.125000  109631.875000
                     Male    28.933333  22.733333  113164.400000
B          AssocProf Female  13.500000   8.833333   99435.666667
                     Male    10.500000   7.500000  113404.000000
           AsstProf  Female   6.600000   2.600000   84189.800000
                     Male     4.666667   2.000000   88224.000000
           Prof      Female  21.500000  17.900000  131836.200000
                     Male    29.538462  25.846154  137989.076923

In [ ]:
df.groupby("rank")[["salary","phd"]].mean()

                  salary        phd
rank
AssocProf   91786.230769  15.076923
AsstProf    81362.789474   5.052632
Prof       123624.804348  27.065217

In [ ]:
grouped=df.groupby("rank")

In [ ]:
for g in grouped:
  print(g)

('AssocProf',          rank discipline  phd  service     sex  salary
6   AssocProf          A   20       17    Male   81285
30  AssocProf          B    9        7    Male  107008
34  AssocProf          B   12        8    Male  119800
41  AssocProf          A   13        8  Female   74830
47  AssocProf          B   11       11  Female  103613
54  AssocProf          A   25       22  Female   62884
56  AssocProf          A   10        8  Female   77500
59  AssocProf          B   12       10  Female  103994
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
64  AssocProf          A   26       24  Female   73300
71  AssocProf          B   12        9  Female   71065
74  AssocProf          B   19        6  Female  104542)
('AsstProf',         rank discipline  phd  service     sex  salary
12  AsstProf          B    1        0    Male   88000
16  AsstProf          B    8        3    Male   75044
17  AsstProf          B    4        0    Male   92000
20  AsstProf          B    4        4    Male   92000
22  AsstProf          A    4        2    Male   73000
23  AsstProf          A    2        0    Male   85000
28  AsstProf          B    7        2    Male   91300
38  AsstProf          B    4        3    Male   91000
42  AsstProf          B    4        2  Female   80225
43  AsstProf          B    5        0  Female   77000
46  AsstProf          B   11        3  Female   74692
50  AsstProf          B   10        5  Female   97032
53  AsstProf          A    5        3  Female   73500
55  AsstProf          A    2        0  Female   72500
57  AsstProf          A    3        1  Female   72500
60  AsstProf          B    3        3  Female   92000
66  AsstProf          A    7        6  Female   63100
68  AsstProf          A    4        2  Female   77500
70  AsstProf          A    8        3  Female   78500)
('Prof',     rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
1   Prof          A   12        6    Male   93000
2   Prof          A   23       20    Male  110515
3   Prof          A   40       31    Male  131205
4   Prof          B   20       18    Male  104800
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
8   Prof          A   29       19    Male   94350
9   Prof          A   51       51    Male   57800
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
18  Prof          A   19        7    Male  107300
19  Prof          A   29       27    Male  150500
21  Prof          A   33       30    Male  103106
24  Prof          A   30       23    Male   91100
25  Prof          B   35       31    Male   99418
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
32  Prof          A   27       19    Male  103275
33  Prof          B   18       18    Male  120000
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
37  Prof          A   20        8    Male  102000
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
48  Prof          B   17       17  Female  111512
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
52  Prof          A   12        0  Female  105000
58  Prof          B   36       26  Female  144651
63  Prof          A   29       27  Female   91000
65  Prof          A   36       19  Female  117555
67  Prof          A   17       11  Female   90450
69  Prof          A   28        7  Female  116450
72  Prof          B   24       15  Female  161101
73  Prof          B   18       10  Female  105450
75  Prof          B   17       17  Female  124312
76  Prof          A   28       14  Female  109954
77  Prof          A   23       15  Female  109646)

In [ ]:
df[df.salary>120000]

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
3   Prof          A   40       31    Male  131205
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
19  Prof          A   29       27    Male  150500
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
58  Prof          B   36       26  Female  144651
72  Prof          B   24       15  Female  161101
75  Prof          B   17       17  Female  124312

In [ ]:
df.shape

(78, 6)

In [ ]:
df.shape[0]

78

In [ ]:
df.shape[1]

6

In [ ]:
df[df.salary>120000].shape[0]

25

In [ ]:
df[df.salary>120000].count()

rank          25
discipline    25
phd           25
service       25
sex           25
salary        25
dtype: int64

In [ ]:
newdf=df[(df["sex"]=="Male")&(df["salary"]>150000)]
newdf

    rank discipline  phd  service   sex  salary
0   Prof          B   56       49  Male  186960
13  Prof          B   35       33  Male  162200
14  Prof          B   25       19  Male  153750
15  Prof          B   17        3  Male  150480
19  Prof          A   29       27  Male  150500
27  Prof          A   45       43  Male  155865
31  Prof          B   22       21  Male  155750

In [ ]:
newdf=df[(df["sex"]=="Male") | (df["salary"]>150000)]
newdf

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
44       Prof          B   23       19  Female  151768
72       Prof          B   24       15  Female  161101

In [ ]:
df[df["rank"]!="Prof"].shape[0]

32

In [ ]:
df[(df["service"]>15)|(df["salary"]>100000)].shape[0]

54

In [ ]:
df.iloc[77]      # iloc = Index location for row

rank            Prof
discipline         A
phd               23
service           15
sex           Female
salary        109646
Name: 77, dtype: object

In [ ]:
df.iloc[1:4,0:3]   # Row: 1 to 3   # Column: 0 to 2

   rank discipline  phd
1  Prof          A   12
2  Prof          A   23
3  Prof          A   40